@import "tailwindcss";
@import "@fontsource/lato/400.css"; /* regular */
@import "@fontsource/lato/700.css"; /* bold */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand-black: #131313;
  --color-brand-green: #60ac45;
  --color-brand-white: #ffffff;
}

/* Estilos globales */
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Bold para títulos */
}

p, span, li, a, input, textarea, button {
  font-family: "Lato", sans-serif;
  font-weight: 400; /* Regular para texto normal */
}

::selection {
  background: var(--color-brand-green);
  color: var(--color-brand-black);
}

.container {
  max-width: 72rem; /* max-w-6xl */
  margin-left: auto; /* mx-auto */
  margin-right: auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--color-brand-green);
  color: var(--color-brand-black);
}

.container {
  max-width: 72rem; /* equivalent to max-w-6xl */
  margin-left: auto; /* equivalent to mx-auto */
  margin-right: auto;
  padding-left: 1rem; /* equivalent to px-4 */
  padding-right: 1rem;
}
